<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/aasd-small.jpg", :alt => "DefendDrainsLFT adopt-a-drain logo", :title => "DefendDrainsLFT adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>
  <p>
    Use social media to spread the word! Be sure to tag us @DefendDrainsLFT and use the
    hashtags #DrainHero, #AdoptADrain and #DefendDrainsLFT in your posts.
  </p>

  <p>
    If you encounter medical waste, construction debris, or if the drain is
    clogged beneath the grate, <a href="https://www.311lafayette.services/en-US/interaction-type-deflection/?id=7ad30d02-c80b-ea11-a9a0-001dd8308047">report to 311</a> to have
    it cleared by the City.
  </p>

  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We love to hear from you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
     <a href="https://adopt-a-drain.infascination.com/">Adopt a Drain Team</a>
    <br />
    <a href="mailto:DefendDrainsLFT@gmail.com">DefendDrainsLFT@gmail.com</a>
  </p>

  <p>
    <em>
      Remember, the City and Parish of Lafayette won't be held responsible
      for anything that happens to you or others in service of maintaining your
      drain. Please be careful.
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please abandon it on
    <a href="adopt-a-drain.infascination.com">https://adopt-a-drain.infascination.com</a>. Thank you.
  </p>

  <p>
    <a href="https://facebook.com/DefendDrainsLFT" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "DefendDrainsLFT facebook", :title => "DefendDrainsLFT facebook" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/DefendDrainsLFT" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "DefendDrainsLFT twitter", :title => "DefendDrainsLFT twitter" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/DefendDrainsLFT/" style="text-decoration:none !important;">
      <%= image_tag "icons/instagram.png", :alt => "DefendDrainsLFT instagram", :title => "DefendDrainsLFT instagram" %>
    </a>
  </p>
</td></tr></table>
